version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DEBUG=1
      - MONGO_URI=mongodb://mongo:27017/voca_db
    depends_on:
      - mongo
      - redis
    networks:
      - voca_network

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
      - MONGO_INITDB_DATABASE=voca_db
    networks:
      - voca_network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - voca_network

  celery:
    build: .
    command: celery -A config worker -l info
    volumes:
      - .:/app
    environment:
      - DEBUG=1
      - MONGO_URI=mongodb://mongo:27017/voca_db
      - CELERY_BROKER_URL=redis://redis:6379/1
    depends_on:
      - mongo
      - redis
    networks:
      - voca_network

volumes:
  mongo_data:
  redis_data:

networks:
  voca_network:
    driver: bridge